.yoruba-container{
    background-color: rgba(27, 115, 57, 1);
    width: 100%;
    height: 180px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 .yoruba-content{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 4rem;
    font-weight: 700;
} 
.back-icon{
    font-size: 40px;
}